.heroContactStyle{
    background-image: url(/Hero-Background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 0;
    padding-top: 0;
}
.heroContactStyle h1{
    padding-top: 100px;
    margin-left: 15%;
    color: aliceblue;
}

.heroContactStyle button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
     margin-left: 15%;
    cursor: pointer;    text-decoration: none;
    text-decoration-color: none;
    color: azure;
}
.heroContactStyle button:hover{
    transform: scale(0.9);
}