.NavBarStyle{
    display: flex;
    justify-content: space-between;
    background-color: #fbfcfc;
    padding: 2%;

}

.NavBarStyle ul {
    display: flex;
    gap: 50px;
    padding: 8px;
    list-style: none;
    color: inherit;

}
.NavBarStyle ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
}
.NavBarStyle ul li a:hover{
    background-color: rgb(255, 0, 0);
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 8px;
    color: #fbfcfc;

}
.NavBarStyle img{
    width: 200px;
}